Data Science and ecosystem

In this data science and ecosystem are summarized

some of popular lanuges that data science use are;
1. python 
2. c++
3. R
4. SQL
5. Java

some of data science liberaries;
1. tensorflow
2. Numpy.
3. Pandas.
4. scipy.

|Data Science tools|
|....|
|SAS|
|Apache Hadoop|
|Tensorflow|

below are the few examples foe solving Airhthemetic operation

In [5]:
#this is coomon airthemetic example for multiply and add integer
20*(34+67)

2020

In [6]:
#convert400 mintues into hours by dividing 60
400/60

6.666666666666667

__Objectives__

* list popular laguages of data science
* list libersries of Data science
* list of well known data science tools
* how to provides comments in cell

Author
Grave Kummar